body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

nav {
  background-color: rgba(255,85,85,1);
  color: #000000;
  float: left;
  font-family: monospace, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight:900;
  position: fixed;
  width: 100%;
}

a:link {
  color: #000000; text-decoration: none;
}
a:visited {
  color: #ffffff
}
a:hover {
  color: #000000
}

a:active {
  color: #000000
}

figcaption {
  font-size: .75em; /*12px*/
  font-style: italic;
}

h1 {
  font-size: 2em; /*32px*/
  font-weight: bold;
  line-height: 2;
}

h3 {
  font-size: 1.25em; /*20px*/
  font-weight: lighter;
  font-style: normal;
  line-height: normal;
}

.author {
  line-height: 2;
}

.story-text {
  line-height: 1.5;
}
.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
