body{
  font-size: 14px;
}

nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  /*governs the element an feature-element classes*/
  margin: 0 auto;
  width: 60%;
}

h1 {
  /*controls the hovering navigation
  which currently is an enlargened text place holder*/
  font-family: sans-serif;
  font-size: 4.5em;
  width: 100%
}

.example, h3 {
  /*controls the content positioning
  of the nav bar, colored-boxes, and text */
  padding-top: 30px;
  text-align: center
}

h3 {
  /*controls text within the colored boxes */
  font-size: 1.3em;
}

.element {
  /*Controls all but the last three divs under the section selector*/
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

.feature-element {
  /*feature-element is a separate class for the last three divs
  within the section selector */
  background-color: red;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
